.topbar {
  height: 60px;
  width: 100%;
  position: fixed;
  text-align: right;
  background-color: $light-bg-color;
  color: $text-dk-color;
  border-bottom: $section-border;
  z-index: 9;
  
  .topbar-menu {
    display: inline-flex;
    color: $text-md-color;
    height: 100%;
  
    .topbar-item {
      border-left: 1.5px solid $frame-color;
      padding: 18px 0;
      cursor: pointer;
      position: relative;
  
      * {
        padding: 0 8px;
        vertical-align: middle;
      }
  
      .icon-arrow-down {
        font-size: 10px;
      }
  
      .icon-notification::after {
        position: absolute;
        content: '';
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: $notification-color;
        right: 15px;
        top: 15px;
      }
    }
  }
}