/* Global */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $page-bg-color;
}

h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: $title-font;
}

h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-family: $title-font;
}

h4 {
  font-size: 16px;
  font-family: $title-font;
}

p {
  font-family: $paragraph-font;
  font-size: $paragraph-font-size;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
  
ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  
button {
  cursor: pointer;
  border: none;
  color: inherit;
  outline: none;
}
  
small {
  color: $span-color;
}
  
.page-wrapper {
  font-family: $paragraph-font;
  color: $text-md-color;
  font-size: $paragraph-font-size;
}

.main-content {
  margin-top: 60px;
  width: 100%;
  height: 100%;
}

.subpage-wrapper {
  display: none;
}

.active-page {
  display: block;
}

.wrapper {
  padding: 0 15%;
}

/* Grid */
 
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
  
.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}