/* Colors */
$text-lgh-color: #f2f2f2;
$text-md-color: #999999;
$text-dk-color: #151515;

$page-bg-color: #ebeae3;
$light-bg-color: #fcfcfc;
$dark-bg-color: #151515;
$active-menu-color: #343434;

$frame-color: #e5e5e5;
$notification-color: #ef8337;
$active-color: #00cd00;
$span-color: #649296;

/* Font sizes */
$paragraph-font-size: 16px;
$logo-font-size: 30px;

/* Fonts */
$brand-font: 'Rancho', cursive;
$paragraph-font: 'Roboto', sans-serif;
$title-font: 'Roboto', sans-serif;

/* Border */
$section-border: 1.5px solid $frame-color;

/* Transition */
$transition: all 0.5s ease;