.chart-statistics {
  justify-content: space-between;
  padding: 24px  0;

  .chart-statistics-detail {
    justify-content: space-between;
    padding: 18px 0 6px 0;
    border-bottom: $section-border;

    .chart-statistics-value {
      color: $text-dk-color;
    }
  }
}

.chart {
  margin: 24px 0;
}