*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: $paragraph-font;
    color: $text-md-color;
    font-size: $paragraph-font-size;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    border: none;
    color: inherit;
    background-color: inherit;
  }
  
  small {
    color: $span-color;
  }
  
  .page-wrapper {
    display: flex;
    flex-wrap: row wrap;
    background-color: $page-bg-color;
  }