.btn-wrapper {
  text-align: center;
  padding: 32px;
}

.list-item {
  width: 100%;
  padding: 18px;
  border-bottom: $section-border;
  cursor: pointer;
  display: block;
  position: relative;

  &:first-child {
    border-top: $section-border;
  }

  .list-item-link {
    color: $span-color;
    font-size: 14px;
  }

  .list-item-icons {
    display: inline-flex;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;

    i {
      position: relative;
      display: inline;
      margin-left: 12px;
      visibility: hidden;
      
      &:hover {
        color: $notification-color;
      }  
    }
  }

  &:hover {
    background-color: $frame-color;
    
    i {
      visibility: visible;
    }
  }
}