.btn-wrapper {
  text-align: center;
  padding: 32px;
}

.list-item {
  width: 100%;
  padding: 12px;
  border-bottom: $section-border;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &:first-child {
    border-top: $section-border;
  }

  .list-item-title {
    order: 1;
    flex: 1;
  }

  .list-item-link {
    color: $span-color;
    font-size: 14px;
    order: 3;
    flex: 0 0 100%;
  }

  .list-item-icons {
    order: 2;
    transform: scale(0.8);

    i {
      margin-left: 12px;
      visibility: hidden;
      
      &:hover {
        color: $notification-color;
      }  
    }
  }

  &:hover {
    background-color: $frame-color;
    
    i {
      visibility: visible;
    }
  }
}